@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0ex;
}

.page {
  display: flex;
  height: 100vh;
}

.subject {
  background-image: url(./assets/Background1.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: right;
  align-items: center;
}

.subject__title {
  color: white;
  padding: 6.3rem;
}

.subject__title h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 4rem;
  font-weight: 400;
  line-height: 5rem;
  margin-bottom: 2rem;
}

.subject__title p {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
}

.signin {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

.details {
  font-family: "Poppins", sans-serif;
  display: block;
  margin-bottom: 0.75rem;
}

.text {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  background-color: #ededed;
  border: 0rem solid;
  display: block;
  height: 4.75rem;
  width: 30rem;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

button {
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  background-color: #5200ff;
  border: 0em solid;
  color: white;
  height: 3em;
  width: 40%;
  margin-top: 1em;
}

button:hover {
  background-color: #6c28ff;
  cursor: pointer;
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .page {
    flex-direction: column;
  }

  .subject {
    text-align: center;
  }

  .signin__form {
    margin: 5rem 0;
    min-width: 50%;
  }

  .signin__inputName {
    display: inline-block;
  }

  .text {
    width: 22rem;
  }

  .signin__inputName .text {
    margin-right: 3rem;
  }

  .signin__inputEmail {
    display: inline-block;
  }

  button {
    display: block;
    width: 25%;
  }
}

@media only screen and (max-width: 768px) {
  .page {
    flex-direction: column;
  }

  .subject {
    text-align: center;
  }

  .signin {
    padding: 2rem;
  }

  .signin__form {
    width: 100%;
  }

  .signin__inputName {
    display: block;
  }

  .signin__inputEmail {
    display: block;
  }

  .text {
    width: 100%;
  }

  .email {
    width: 100%;
  }

  button {
    width: 100%;
    text-align: center;
  }
}
